<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAm0IFCK8tJ98f0OtBGy4ZjX6oaGp8TGHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>426258127319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloodapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>zindagi-c5cf1</string>
	<key>STORAGE_BUCKET</key>
	<string>zindagi-c5cf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426258127319:ios:98bb424d1bc5581d8b9392</string>
</dict>
</plist>